.App {
  text-align: center;
}

#form{
  width: 30%;
  margin: 1rem auto;
  text-align: center;
  padding: .75rem; 
}
#button{
  margin: 1rem; 
}

#map{
  background-color: rgba(243, 243, 148, 0.708);
  padding: 2rem;
  width: 100%;
  margin: auto;
}
