.App {
  text-align: center;
}

#form{
  width: 30%;
  margin: 1rem auto;
  text-align: center;
  padding: .75rem; 
}
#button{
  margin: 1rem; 
}

#map{
  background-color: rgb(198, 195, 195);
  padding: 2rem;
  width: 50%;
  margin: auto;
}
#card{
  margin:2rem auto 2rem;
  border:5px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem; 
}